name: Github API REST LIBRARY

on:
  push:

jobs:
  rest-api-library:
    if: ${{ github.event_name != 'push' }}
    runs-on: windows-latest
    steps:
      - name: Run GitHub Script
        uses: actions/github-script@v6
        with:
          script: |
            for (const id in github.rest.repos) {
              try {
                if (typeof github.rest.repos[id] === "function") {
                  console.log(id);
                }
              } catch (err) {
                console.error(err);
              }
            }

      - name: Checking out the repository
        uses: actions/checkout@v4
        with:
          repository: gk-aks-Digital/fifthgithubrepo
          token: ${{ secrets.B_TOKEN}}
          ref: v2.2.1
          path: ./github/actions/Pepsi250mlcan
      - uses: ./github/actions/Pepsi250mlcan


      - name: Checking out the repository
        uses: actions/checkout@v4
        with:
          repository: gk-aks-Shared/seventhgithubrepo
          token: ${{ secrets.GITHUB_TOKEN}}
          ref: v2.2.1
          path: ./github/actions/SpriteBottle

      - name: Bench Security Action
        if: always()
        id: benchsecurity
        uses: ./github/actions/SpriteBottle
        with:
            container_name: container123
            number: ${{github.run_number}}

  